---
---

@import "{{ site.theme }}";

@import url('https://rsms.me/inter/inter-ui.css');

* {
	font-family: 'Inter UI', sans-serif;
}


<style>
	.flex-container {
		display: flex;
		background-color: DodgerBlue;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.flex-container > div {
		background-color: #f1f1f1;
		margin: 10px;
		padding: 20px;
		font-size: 20px;
		height: 100%
	}
</style>
