---
---

@import "{{ site.theme }}";

@import url('https://rsms.me/inter/inter-ui.css');

* {
  font-family: 'Inter UI', sans-serif;
}

.flex-container {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
  border-bottom: 1px solid #bbb;
}

.flex-container > div {
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	height: 100%
}

.button {
	background-color: #f7b733; /* overridden with custom page color in layouts file */
	border: 3px solid #f7b733; /* overridden with custom page color in layouts file */
	border-radius: 50px;
	color: white;
	padding: 14px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* for Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button:hover {
	background-color: white;
	color: #f7b733; /* overridden with custom page color in layouts file */
	text-decoration: none;
}

/* Impossible List CSS */
#impossiblelist {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#impossiblelist td {
    border: 1px solid #ddd;
    padding: 8px;
}

#impossiblelist tr:hover {
	background-color: #ddd;
}

#impossiblelist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f8a52f;
    border: 1px solid #f8a52f;
    color: white;
}
